/* ------- Custom Properties ------- */

:root{
    --black: #000000;
    --white: #ffffff;
    --blue: rgb(0, 112, 245);
    --light-blue: rgb(236, 240, 245);
    --green: rgb(52, 199, 89);
    --green-text: rgb(16, 103, 37);
    --red: rgb(255, 59, 48);
    --red-text: rgb(117, 14, 14);
    --gray: rgb(183, 183, 183);
    --neutral: rgb(199, 199, 204);
    --neutral-text: rgb(99, 99, 102);
    --yellow: rgb(255, 204, 0);
    --yellow-text: rgb(178, 80, 0);
}



/* ------- Custom Fonts ------- */


/* ------- Element Selectors ------- */

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: scroll;
    font-variant-numeric: tabular-nums;
}

table{
    table-layout: fixed;
    font-size: .8em;
    text-align: center;
    border-collapse: collapse;
}

td{
    position: relative;
    min-width: 3em;
}

th{
    padding: 1em;
    text-align: center;
    white-space: nowrap;
    border-right: 1px solid var(--light-blue);
}

tr:nth-child(even){
    background-color: var(--light-blue);
}

.shade:nth-child(even){
    background-color: var(--light-blue);
}


main{
    padding: 2em;
}


footer{
    margin-top: 5em;
    margin-left: 2em;
}

h2{
    font-size: 2em;
}

h1{
    margin: 0;
}

summary{
    padding: 1.25em;
    background-color: var(--white);
    border: 1px solid var(--blue);
    width: 150px;
    border-radius: .5em;
    color: var(--blue);
    text-align: center;
    margin-left: .8em;
    font-weight: bold;
}

summary:hover{
    cursor: pointer;
    transition: background-color .25s, color .25s, border .25s;
    background-color:rgb(0, 112, 245);
    border: 1px solid rgb(0, 112, 245);
    color: var(--white);
    cursor: pointer;
}


details{
    margin-bottom: 3em;
}


/* ------- Class Selectors ------- */

.class{
    color: black;
}

.choices{
    font-size: 1.5em;
}

.choice-button{
    font-size: 1.5em;
    width: 12em;
    height: 12em;
    margin: .25em;
    margin-left: .55em;
    background-color: var(--white);
    border: 1px solid var(--blue);
    color: var(--blue);
    border-radius: .5em;
    white-space: normal;
    word-wrap: break-word;
    padding: .25em;
}

.choice-button:hover{
    transition: background-color .25s, color .25s, border .25s;
    background-color:rgb(0, 112, 245);
    border: 1px solid rgb(0, 112, 245);
    color: var(--white);
    cursor: pointer;
}

.website-title{
    font-size: 3em;
}


.neutral{
    color: var(--white);
    background-color: var(--neutral);
    font-weight: bold;
}

.neutral:hover{
    transition: background-color .25s, color .25s;
    background-color: var(--neutral-text);
    color: var(--white);
}

.positive{
    background-color: var(--green);
    color: var(--white);
    font-weight: bold;
}

.positive:hover{
    transition: background-color .25s, color .25s;
    background-color: var(--green-text);
    color: var(--white);
}

.negative{
    background-color: var(--red);
    color: var(--white);
    font-weight: bold;
}

.negative:hover{
    transition: background-color .25s, color .25s;
    background-color: var(--red-text);
    color: var(--white);
}

.blackout{
    background-color: var(--black);
}

.not-ready{
    font-weight: bold;
    color: var(--red);
    margin-left: .5em;
}

.almost-ready{
    font-weight: bold;
    color: var(--yellow);
    margin-left: .5em;
}

.ready{
    font-weight: bold;
    color: var(--green);
    margin-left: .5em;
}

.top-row{
    color: lightgray;
}

.form-text{
    font-size: 1em;
    border-radius: .5em;
    border: 1px solid var(--gray);
    padding: 1em;
    width: 75%;
    max-width: 25em;
    margin: .75em;
    margin-bottom: 1.5em;
}

.data{
    max-width: 100%;
    display: flex;
}

.submit-button{
    padding: 1em 2em 1em;
    border-radius: .5em;
    background-color: var(--white);
    border: 1px solid var(--blue);
    color: var(--blue);
    font-weight: bold;
    margin-left: .8em;
}

.submit-button:hover{
    cursor: pointer;
    transition: background-color .25s, color .25s, border .25s;
    background-color:rgb(0, 112, 245);
    border: 1px solid rgb(0, 112, 245);
    color: var(--white);
    cursor: pointer;
}

.about-text{
    text-align: left;
    max-width: 800px;
}

.column-header{
    text-align: center;
}

.buttons-to-press{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.author{
    margin: 0;
    margin-top: .5em;
    font-size: 1.5em;
}

/* ---- */

td .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    left: 2em;
    bottom: 2em;
  }
  
  td:hover .tooltiptext {
    visibility: visible;
  }


.y-axis-label{
    padding: 1em;
}

.y-axis-elo{
    padding: 1em;
    font-weight: 500;
}


/* ------- ID Selectors ------- */

#votes-needed{ 
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: .25em;
}

#create-new-list-submit:hover{
    cursor: pointer;
}

#exercise{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    text-align: left;
    padding: 2em;
}

#return-link{
    color: var(--blue);
    text-decoration: none;
    padding-bottom: 4em;
    margin-left: .25em;
}

#return-link:hover{
    text-decoration: underline;
}

#return-link:visited{
    color: var(--blue);
}

#choices{
    width: 100vw
}

#question-header{
    margin-left: .25em;
}

#create-new-list{
    margin-top: 2em;
}

/* ------- Media Queries ------- */

@media screen and (max-width: 800px){
    
}